<div class="hero min-h-screen bg-base-300">
    <div class="hero-content text-center">
        <div class="max-w-sm">
            <h1 class="font-bold text-5xl mb-5">Welcome</h1>

            <div class="card bg-base-100 w-96 h-auto shadow-xl">
                <img src="../../../assets/home.png" alt="">
            </div>

            <div class="mt-20 mb-10">
                <button pButton pRipple type="button" label="Get started"
                    class="p-button-outlined p-button-rounded" [routerLink]="['/register']"></button>
            </div>
            <h1>Belco</h1>
        </div>
    </div>
</div>