<div class="hero min-h-screen bg-base-300">
    <div class="hero-content text-center">
        <div class="max-w-sm">
            <div class="card card-compact shadow-xl">
                <div class="card-body">
                    <div class="col-12 md:col-6 lg:col-4">
                        <span>Phone</span>
                        <p-inputMask mask="(999) 999-9999" [(ngModel)]="cellphone" placeholder="(999) 999-9999"></p-inputMask>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>