<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/chat"></ion-back-button>
    </ion-buttons>
    <ion-title>{{name | titlecase}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="true" [fullscreen]="true">
  <div class="ion-content-scroll-host ion-padding">
    <section id="message-container" style="overflow-y: scroll">
      <div class="" *ngFor="let item of message$ | async">
        <div
          [ngClass]="item.sender._id === hold.id ? 'chat chat-end': 'chat chat-start'"
        >
          <div class="chat-image avatar">
            <div class="w-10 rounded-full">
              <img src="/images/stock/photo-1534528741775-53994a69daeb.jpg" />
            </div>
          </div>
          <div class="chat-header">
            {{item.sender.name}}
            <time class="text-xs opacity-50"
              >{{transform(item.createdAt)}}</time
            >
          </div>
          <div
            [ngClass]="item.sender._id === hold.id ? 'chat-bubble': 'chat-bubble chat-bubble-primary'"
          >
            {{item.message}}
          </div>
          <div class="chat-footer opacity-50">
            <ion-icon
              *ngIf="item.isRead === true && item.sender._id === hold.id"
              style="padding-top: 5px; color: cadetblue"
              name="checkmark-done-sharp"
            ></ion-icon>
            <ion-icon
              *ngIf="item.isRead === false && item.sender._id === hold.id"
              style="padding-top: 5px"
              name="checkmark-sharp"
            ></ion-icon>
          </div>
        </div>
      </div>

      <div *ngIf="vals" class="chat chat-start">
        <div class="chat-image avatar">
          <div class="w-10 rounded-full">
            <img src="/images/stock/photo-1534528741775-53994a69daeb.jpg" />
          </div>
        </div>

        <div class="chat-bubble chat-bubble-primary">Typing...</div>
      </div>

      <!-- <div class="typeHold">
        <div *ngIf="vals" class="from-them">
          <p>typing...</p>
        </div>
      </div> -->
    </section>
  </div>
</ion-content>

<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-buttons>
        <ion-button>
          <ion-icon style="font-size: 2rem" name="image-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <textarea
        class="chat-input"
        placeholder="Type message"
        (keypress)="startTyping()"
        (keyup.enter)="send()"
        [(ngModel)]="message"
      ></textarea>
      <ion-buttons>
        <ion-button type="submit" (keyup.enter)="send()" (click)="send()">
          <ion-icon style="font-size: 2rem" name="send-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-footer>
