<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/chat"></ion-back-button>
    </ion-buttons>
    <ion-title>{{name | titlecase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="true" [fullscreen]="true">
  <div class="ion-content-scroll-host ion-padding">
    <section>
      <div>
      
      </div>
      <div class="hold" *ngFor="let item of message$ | async">
        <div [ngClass]="item.sender._id === hold.id ? 'from-me': 'from-them'">
          <p>{{item.message}}</p>
        </div>
      </div>
    </section>
  </div>
</ion-content>

<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-buttons>
        <ion-button
          ><ion-icon style="font-size: 2rem" name="image-outline"></ion-icon
        ></ion-button>
      </ion-buttons>
      <textarea class="txt" [(ngModel)]="message" placeholder="Type something here"></textarea>
      <ion-buttons>
        <ion-button (click)="send()"
          ><ion-icon style="font-size: 2rem" name="send-sharp"></ion-icon
        ></ion-button>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-footer>
