<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="/signin"></ion-back-button>
    </ion-buttons> -->
    <ion-title>Chats</ion-title>
    <ion-buttons slot="end">
      <ion-button id="open-modal" expand="block"
        ><ion-icon name="ellipsis-vertical-sharp"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item
      button
      *ngFor="let item of users"
      [routerLink]="['/chats', item._id, item.name]"
      (click)="markAsRead()"
    >
      <ion-avatar slot="start">
        <img
          alt="Silhouette of a person's head"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
        />
      </ion-avatar>
      <ion-label>
        {{item.name}}
        <p *ngIf="item.lastMessage?.sender === hold.id && !vals">
          <ion-icon
            *ngIf="item.lastMessage?.isRead"
            style="padding-top: 5px; color: cadetblue"
            name="checkmark-done-sharp"
          ></ion-icon>
          <ion-icon
            *ngIf="item.lastMessage?.isRead === false"
            style="padding-top: 5px"
            name="checkmark-done-sharp"
          ></ion-icon>
          {{item.lastMessage?.message}}
        </p>
        <p
          *ngIf="item.lastMessage?.sender !== hold.id && !vals"
          style="padding-top: 4px"
        >
          {{item.lastMessage?.message}}
        </p>
        <p style="display: flex;" *ngIf="vals" class="tms">Typing..</p>
      </ion-label>

      <div class="time">
        <p class="tms">{{transform(item.lastMessage.createdAt)}}</p>
        <p>
          <ion-badge
            *ngIf="item.unreadCount > 0 && item.lastMessage?.sender !== hold.id"
            slot="end"
            >{{item.unreadCount}}</ion-badge
          >
        </p>
      </div>
    </ion-item>
  </ion-list>
  <ion-fab slot="fixed" [edge]="false" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/contacts">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal
    #modal
    trigger="open-modal"
    [initialBreakpoint]="0.25"
    [breakpoints]="[0, 0.25, 0.5, 0.75]"
  >
    <ng-template>
      <ion-content>
        <!-- <ion-searchbar placeholder="Search" (click)="modal.setCurrentBreakpoint(0.75)"></ion-searchbar> -->
        <ion-list>
          <ion-item button>
            <ion-icon
              style="font-size: 2.5rem"
              slot="start"
              name="person-circle-sharp"
            ></ion-icon>
            <ion-label>
              <h2>Profile</h2>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
